<h1>This is the info</h1>

<p>
    with data:
</p>
<p>
    {{filename}}
</p>
<p>
    simple: {{@root.settings.simple}}
</p>
<p>
    complex: {{@root.settings.complex.a}}
</p>
<p>
    complex: {{@root.settings.complex.a}}
</p>
<p>
    {{img_info @root.settings filename "hunch"}}
</p>

